<div class="mdl-card__title">
	<h2 class="mdl-card__title-text">Chat</h2>
</div>
<div class="mdl-card--expand messages-container">
	<div *ng-for="#message of messages" class="mdl-grid">
		<div class="mdl-cell--3-col message-user">
			<div class="circle"></div>
			Pseudo
		</div>
		<div class="mdl-cell--9-col">
			<div class="message">
				{{message}}
			</div>
			<span class="message-date">Amaury à 15h30</span>
		</div>
	</div>
</div>
<div class="mdl-card__actions mdl-card--border">
	<form [ng-form-model]="sendForm" (submit)="sendMessage()">
		<div class="mdl-textfield mdl-js-textfield sende-message">
			<textarea id="text-message" (keyup)="keyUpMessage($event)" class="mdl-textfield__input" rows="3" [ng-form-control]="sendForm.controls['message']"></textarea>
			<label class="mdl-textfield__label" for="sample1">Message</label>
		</div>
	</form>
</div>
