<div class="room-title">
	<span>Nom de la room un peu trop longue</span>
</div>
<div class="mdl-card--expand messages-container">
	<div *ng-for="#message of messages" class="mdl-grid">
		<div class="mdl-cell--2-col message-user mdl-cell--2-col-tablet mdl-cell--1-col-phone">
			<div class="circle"></div>
		</div>
		<div class="mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
			<div class="message">
				{{message}}
			</div>
			<span class="message-date">Amaury à 15h30</span>
		</div>
	</div>
</div>
<div class="mdl-card__actions mdl-card--border text-field-container">
	<form [ng-form-model]="sendForm" (submit)="sendMessage()">
		<div class="mdl-textfield mdl-js-textfield send-message">
			<textarea id="text-message" (keyup)="keyUpMessage($event)" class="mdl-textfield__input" rows="1" [ng-form-control]="sendForm.controls['message']"></textarea>
			<label class="mdl-textfield__label" for="sample1">Message</label>
		</div>
	</form>
</div>
